<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <h1>hi there products</h1>
        <h1 id="message-1"></h1>

        <form>
            <input placeholder="search products">
            <button>search</button>
        </form>



        <script src="/js/app.js"></script>
    </body>
</html>